<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AdHash_All_Projects_API_Production">
    <listeners>
        <listener class-name="utils.TestReportListener"/>
    </listeners>
    <test name="AdHash_API_Tests">
        <classes>
            <class name="generated.GeneratedApiTest">
                <methods>
                    <include name="pm_AdHash_Website"/>
                    <include name="pm_AutoChecker_Login_UI"/>
                    <include name="pm_AutoChecker_Admin_Login"/>
                    <include name="pm_AutoChecker_App_Login"/>
                    <include name="pm_MHAI_Doctor_SuperAdmin_Login_UI"/>
                    <include name="pm_MHAI_Doctor_SuperAdmin_Login"/>
                    <include name="pm_MHAI_Doctor_Login_UI"/>
                    <include name="pm_MHAI_Doctor_Login"/>
                    <include name="pm_KCAI_Doctor_SuperAdmin_Login_UI"/>
                    <include name="pm_KCAI_Doctor_SuperAdmin_Login"/>
                    <include name="pm_KCAI_Doctor_Login_UI"/>
                    <include name="pm_KCAI_Doctor_Login"/>
                    <include name="pm_MHCRM_SuperAdmin_Login_UI"/>
                    <include name="pm_MHCRM_SuperAdmin_Login"/>
                    <include name="pm_MHCRM_Admin_Login"/>
                    <include name="pm_MHCCM_SuperAdmin_Login_UI"/>
                    <include name="pm_MHCCM_SuperAdmin_Login"/>
                    <include name="pm_MHCCM_CPA_Login_UI"/>
                    <include name="pm_MHCCM_CPA_Login"/>
                    <include name="pm_MHCCM_PAR_Login_UI"/>
                    <include name="pm_MHCCM_PAR_Login"/>
                    <include name="pm_MHCCM_Form_UI"/>
                    <include name="pm_MHCCM_PAR_CRM_Login_UI"/>
                    <include name="pm_MHCCM_PAR_CRM_Login"/>
                    <include name="pm_MHRTM_SuperAdmin_Login_UI"/>
                    <include name="pm_MHRTM_SuperAdmin_Login"/>
                    <include name="pm_MHRTM_CPA_Login_UI"/>
                    <include name="pm_MHRTM_CPA_Login"/>
                    <include name="pm_MHRTM_Participant_Login_UI"/>
                    <include name="pm_MHRTM_Participant_Login"/>
                    <include name="pm_MHAI_Patient_App_Login"/>
                    <include name="pm_KCAI_Patient_App_Login"/>
                    <include name="pm_Wavedin_App_Login"/>
                    <include name="pm_Sparkme_App_Login"/>
                    <include name="pm_WavedIn_SuperAdmin_Login_UI"/>
                    <include name="pm_WavedIn_Market_Web"/>
                    <include name="pm_Sparkme_Web_Login_UI"/>
                    <include name="pm_Sparkme_Web_Login"/>
                    <include name="pm_Algomax_ProSky_Web_Login_UI"/>
                    <include name="pm_Algomax_GoPocket_Web_Login_UI"/>
                    <include name="pm_LGM_Login_UI"/>
                    <include name="pm_LGM_Login_PhoneNumber"/>
                    <include name="pm_LGM_Login_OTP"/>
                    <include name="pm_AskEPI_Login_UI"/>
                    <include name="pm_AskEPI_Login_PhoneNumber"/>
                    <include name="pm_AskEPI_Login_OTP"/>
                    <include name="pm_RiskRealm_Admin_Web_Login_UI"/>
                    <include name="pm_RiskRealm_Chat_Web_Login_UI"/>
                    <include name="pm_RiskRealm_Login_Number"/>
                    <include name="pm_RiskRealm_Login_OTP"/>
                    <include name="pm_AutoeVantage_eCommerce_Web_UI"/>
                    <include name="pm_AutoeVantage_eCommerce_Login_PhoneNumber"/>
                    <include name="pm_AutoeVantage_eCommerce_Login_OTP"/>
                    <include name="pm_AutoeVantage_Tools_Web_UI"/>
                    <include name="pm_AutoeVantage_Tools_Login_PhoneNumber"/>
                    <include name="pm_AutoeVantage_Tools_Login_OTP"/>
                    <include name="pm_AutoeVantage_Analytics_Web_UI"/>
                    <include name="pm_AutoeVantage_Analytics_Login_PhoneNumber"/>
                    <include name="pm_AutoeVantage_Analytics_Login_OTP"/>
                    <include name="pm_Metcalf_UI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>